                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <h3 class="mb-3"> #10858 - OB </h3> 
                            <a class="btn btn-custom1" href="#"> Edit Shipment </a> 
                        </div>


                        <div class="card-box">
                            <div class="card-head mb-3 d-flex align-items-center justify-content-between">
                                    
                                <h4 class="header-title mt-0">Basic Information</h4>

                                <div class="dropdown ">
                                   <div class="d-flex align-items-center justify-content-end">
                                    <div class="bold badge badge-custom2 badge-running"> Running </div>
                                    </div>
                                </div>

                            </div> <!-- card-head -->

                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0"> Package Name </p>
                                    <label class="bold"> #10858 - OB </label>
                                </div>
                                <div class="col">
                                    <p class="m-0"> Target Delivery Date </p>
                                    <label class="bold"> 2/5/2020 </label>
                                </div>
                                <div class="col">
                                    <p class="m-0"> Target Delivery Time </p>
                                    <label class="bold"> 4:30 PM </label>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="m-0"> Pickup Location </p>
                                    <label class="bold"> 8624, New Industrial City, Riyadh 14336, Saudi Arabia </label>
                                </div>
                            </div> <!-- row -->

                        </div> <!-- card-box -->
  

                        <div class="card-box">
                            <div class="card-head mb-3 d-flex align-items-center justify-content-between">
                                    
                                <h4 class="header-title mt-0"> Fleet Provider Information </h4>

                                <div class="dropdown ">
                                   <div class="d-flex align-items-center justify-content-end">
                                    </div>
                                </div>

                            </div> <!-- card-head -->

                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0"> Places Covered </p>
                                    <label class="bold"> Riyadh, Jeddah, Mekkah  </label>
                                </div>
                                <div class="col">
                                    <p class="m-0"> Contracted Price </p>
                                    <label class="bold"> 700 SAR </label>
                                </div>
                                <div class="col">
                                    <p class="m-0"> Transaction No. </p>
                                    <label class="bold"> 2236 </label>
                                </div>
                                
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0"> Compliance percent </p>
                                    <label class="bold"> 99.7%  </label>
                                </div>
                                <div class="col">
                                    <p class="m-0"> Fulfillment percent </p>
                                    <label class="bold"> 83.9%</label>
                                </div>
                                <div class="col">
                                </div>
                                
                            </div>

                        </div> <!-- card-box -->

                        <div class="card-box">
                            <div class="card-head mb-3 d-flex align-items-center justify-content-between">
                                    
                                <h4 class="header-title mt-0"> Shipment Information </h4>

                                <div class="">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0"> Total Volume  </p>
                                    <label class="bold"> 12345 M2</label>
                                </div>
                                <div class="col">
                                    <p class="m-0"> Total Weight </p>
                                    <label class="bold"> 12345 KG </label>
                                </div>
                                <div class="col">
                                </div>
                                
                            </div>

                            <div class="packages">


                                
                                <div class="one-package">

                                    <div class="one-package-head">
                                        
                                        <h4 class="blue"> Shipment name #1 Information </h4>

                                        <p> Pickup Location </p>

                                        <label class="bold"> 8624, New Industrial City, Riyadh 14336, Saudi Arabia </label>


                                    </div> <!-- one-package-head -->


                                    <h4> Package Name 1 </h4>

                                    <div class="row mb-1">
                                        <div class="col">
                                            <p class="m-0"> Package Type  </p>
                                            <label class="bold"> Plastic 501 </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Quantity </p>
                                            <label class="bold"> 3500 PCS  </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Weight </p>
                                            <label class="bold"> 200 KG  </label>
                                        </div>
                                    </div> <!-- row mb-2 -->

                                    <div class="row mb-1">
                                        <div class="col">
                                            <p class="m-0"> Length  </p>
                                            <label class="bold"> 40 CM </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Width </p>
                                            <label class="bold"> 3500 PCS  </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Height </p>
                                            <label class="bold"> 15 CM  </label>
                                        </div>
                                    </div> <!-- row mb-2 -->


                                    <div class="one-package-footer">
                                        
                                        <h4 class="blue"> Reciever Information </h4>

                                        <div class="row mb-1">
                                            <div class="col">
                                                <p class="m-0"> Reciever Company  </p>
                                                <label class="bold"> Tremoloo </label>
                                            </div>
                                            <div class="col">
                                                <p class="m-0"> Reciever Name </p>
                                                <label class="bold"> 3500 PCS  </label>
                                            </div>
                                            <div class="col">
                                            </div>
                                        </div> <!-- row mb-2 -->

                                        <p> Drop-off Location </p>
                                        <label class="bold"> 8624, New Industrial City, Riyadh 14336, Saudi Arabia </label>
                                    </div> <!-- one-package-head -->


                                </div> <!-- one-package -->



                                
                                <div class="one-package">

                                    <div class="one-package-head">
                                        
                                        <h4 class="blue"> Shipment name #1 Information </h4>

                                        <p> Pickup Location </p>

                                        <label class="bold"> 8624, New Industrial City, Riyadh 14336, Saudi Arabia </label>


                                    </div> <!-- one-package-head -->


                                    <h4> Package Name 1 </h4>

                                    <div class="row mb-1">
                                        <div class="col">
                                            <p class="m-0"> Package Type  </p>
                                            <label class="bold"> Plastic 501 </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Quantity </p>
                                            <label class="bold"> 3500 PCS  </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Weight </p>
                                            <label class="bold"> 200 KG  </label>
                                        </div>
                                    </div> <!-- row mb-2 -->

                                    <div class="row mb-1">
                                        <div class="col">
                                            <p class="m-0"> Length  </p>
                                            <label class="bold"> 40 CM </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Width </p>
                                            <label class="bold"> 3500 PCS  </label>
                                        </div>
                                        <div class="col">
                                            <p class="m-0"> Height </p>
                                            <label class="bold"> 15 CM  </label>
                                        </div>
                                    </div> <!-- row mb-2 -->


                                    <div class="one-package-footer">
                                        
                                        <h4 class="blue"> Reciever Information </h4>

                                        <div class="row mb-1">
                                            <div class="col">
                                                <p class="m-0"> Reciever Company  </p>
                                                <label class="bold"> Tremoloo </label>
                                            </div>
                                            <div class="col">
                                                <p class="m-0"> Reciever Name </p>
                                                <label class="bold"> 3500 PCS  </label>
                                            </div>
                                            <div class="col">
                                            </div>
                                        </div> <!-- row mb-2 -->

                                        <p> Drop-off Location </p>
                                        <label class="bold"> 8624, New Industrial City, Riyadh 14336, Saudi Arabia </label>
                                    </div> <!-- one-package-head -->

                                </div> <!-- one-package -->

                            </div> <!-- packages -->
                        </div> <!-- card-head -->




                </div> <!-- container -->
