<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">



        <div class="d-flex align-items-center justify-content-between mt-3">
            <h3 class="mb-2"> Users </h3>    
            <div class="btns">
                <a class="btn btn-primary" [routerLink]="['/main/AddNewUserComponent']"> <i class="fa fa-plus"></i> Add New User </a>
                <a class="btn btn-custom1" href="#"> Export </a>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between ">
            <div class="form-group ">
                <input type="text" class="form-control" id="" placeholder="Search…">
            </div> 

            <h3 class="mb-3">

                <div class="dropdown for-table notification-list" style="position: relative;">
                    
                    <a class="btn btn-state nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> Status: Active <i class="fa fa-chevron-down"></i> </a>

                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                        <!-- item-->
                        <a href="#" class="dropdown-item notify-item">
                            <span> Edit </span>
                        </a>

                        <!-- item-->
                        <a href="#" class="dropdown-item notify-item">
                            <span> Set as admin </span>
                        </a>

                        <!-- item-->
                        <a href="#" class="red dropdown-item notify-item">
                            <span> Remove </span>
                        </a>


                    </div>
                </div>



            </h3>    
        </div>

        <div class="card-box padding0 " style="border: 1px solid #e4e9f3;"> 


            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="thead-light">
                    <tr>
                        <th> Name </th>
                        <th> Email </th>
                        <th> Mobile Number </th>
                        <th> Iqama ID </th>
                        <th> Country </th>
                        <th> Privilage </th>
                        <th> Status </th>
                        <th>  </th>
                    </tr>
                    </thead>
                    <tbody>

                        
                    <tr> 
                        <td>
                            <img style="height: 32px; width: 32px;border-radius: 50%;" src="assets/images/users/user-1.jpg"> Abayo Stevens
                        </td>

                        <td> lenny_corwin@mann.me </td>
                        <td> 802-422-6539 </td> 
                        <td> 1234567891234567 </td> 
                        <td> UAE </td> 
                        <td> Admin </td> 
                        <td>  <span class="badge badge-active">Active</span> </td> 
                        <td>

                            <div class="dropdown for-table notification-list" style="position: relative;">
                                
                                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                    <!-- item-->
                                    <a href="#" class="dropdown-item notify-item">
                                        <span> Edit </span>
                                    </a>

                                    <!-- item-->
                                    <a href="#" class="red dropdown-item notify-item">
                                        <span> Remove </span>
                                    </a>


                                </div>
                            </div>

                        </td>
                    </tr>

                        
                    <tr> 
                        <td>
                            <img style="height: 32px; width: 32px;border-radius: 50%;" src="assets/images/users/user-1.jpg"> Abayo Stevens
                        </td>

                        <td> lenny_corwin@mann.me </td>
                        <td> 802-422-6539 </td> 
                        <td> 1234567891234567 </td> 
                        <td> UAE </td> 
                        <td> Admin </td> 
                        <td>  <span class="badge badge-inactive">Inactive</span> </td> 
                        <td>

                            <div class="dropdown for-table notification-list" style="position: relative;">
                                
                                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                    <!-- item-->
                                    <a href="#" class="dropdown-item notify-item">
                                        <span> Edit </span>
                                    </a>

                                    <!-- item-->
                                    <a href="#" class="red dropdown-item notify-item">
                                        <span> Remove </span>
                                    </a>


                                </div>
                            </div>

                        </td>
                    </tr>




                         

                    </tbody>
                </table>
            </div>

        </div> <!-- card-box -->
    </div> <!-- container -->

</div> <!-- content -->
 <!-- Footer Start -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
               Displaying <span> 10 </span> Out of <span> 123 </span>
            </div>
            <div class="col-md-6">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"> <i class="fa fa-chevron-left"></i> </a></li>
                    <li class="page-item"><a class="page-link" href="#"> <i class="fa fa-chevron-right"></i> </a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
