<div class="card-box stepper-box location">
    <!-- <a href="#" class="mb-3" style="color: #000"> <i class="fa fa-chevron-left"></i> Skip </a>
 -->    <circle-progress
    [percent]="85"
    [radius]="51"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#eff3fb'"
    [animation]="true"
    [animationDuration]="1000"
></circle-progress>

    <h4 class="text-center mb-4"> Company Setup </h4>

    <div class="steps-menu">

            <div class="custom-control custom-radio mb-3">
                <input checked="checked" [routerLink]="['/location/addlocation']" type="radio" id="customRadio1" name="customRadio1" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Company Info</label>
                <span> Company locations, brand colors and logo settings. </span>
            </div>
            

            <div class="custom-control custom-radio mb-3">
                <input type="radio" id="customRadio2" [routerLink]="['/location/recivers']" name="customRadio2" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2"> Recievers </label>
                <span> Add receivers data for your shipments. </span>
            </div>


            <div class="custom-control custom-radio mb-3">
                <input type="radio" [routerLink]="['/location/packages']" id="customRadio3" name="customRadio3" class="custom-control-input">
                <label class="custom-control-label" for="customRadio3"> Packages </label>
                <span> Add your company packages and sizes. </span>
            </div>


            <div class="custom-control custom-radio mb-3">
                <input type="radio" id="customRadio4"  [routerLink]="['/location/contracts']" name="customRadio4" class="custom-control-input">
                <label class="custom-control-label" for="customRadio4"> Contracted Fleets </label>
                <span> Add all fleets you have contracted with. </span>
            </div>

            
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio5" [routerLink]="['/location/users']" name="customRadio5" class="custom-control-input">
                <label class="custom-control-label" for="customRadio5"> Users </label>
                <span> Add your partners with privileges for everyone. </span>
            </div>

    </div>


</div> <!-- card-box -->