                    <!-- Start Content-->
                    <div class="container-fluid">



                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <h3 class="mb-3"> Notification Settings </h3>    
 
                        </div>

                        <div class="card-box padding0" style="border: 1px solid #e4e9f3;height: 590px;"> 


                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th> Responsible role </th>
                                        <th> Action </th>
                                        <th> Notified role </th>
                                        <th> Notification Channel </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        
                                    <tr> 
                                        <td> Customer </td>
                                        <td> Create Shipments </td>
                                        <td> Fleet Provider </td> 
                                        <td> Mobile & Web </td>  
                                    </tr>
 
                                    <tr> 
                                        <td> Customer </td>
                                        <td> Create Shipments </td>
                                        <td> Fleet Provider </td> 
                                        <td> Mobile & Web </td>  
                                    </tr>
 
                                    <tr> 
                                        <td> Responsible role

                                                <div class="form-group ">

                                                        <select class="form-control select2">
                                                            <option>Select </option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                        </select>

                                                </div> 
                                                
                                        </td>
                                        <td> Action

                                                <div class="form-group ">

                                                        <select class="form-control select2">
                                                            <option>Select </option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                        </select>

                                                </div> 
                                                
                                        </td>
                                        <td> Notified Role

                                                <div class="form-group ">

                                                        <select class="form-control select2">
                                                            <option>Select </option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                        </select>

                                                </div> 
                                                
                                        </td>
                                        <td> Notification Channel

                                                <div class="form-group ">

                                                        <select class="form-control select2">
                                                            <option>Select </option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                        </select>

                                                </div> 
                                                
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>



                            </div>


                            <div class="d-flex align-items-center justify-content-end mt-3" style="padding: 0 20px;">
                                <a class="btn btn-custom1" href="#"> Cancel </a>
                                <a class="btn btn-primary" href="#"> Add User </a>
                            </div>

                        </div> <!-- card-box -->
    
                    </div> <!-- container -->
