
 <div id="wrapper" class="stepper-layout">
     
<companylocation-header></companylocation-header>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container">


            <div class="row">

                <div class="col-md-3 col-xs-12">
                 <companylocation-side></companylocation-side>
                </div> <!-- col-md-3 col-xs-12 -->

                <div class="col-md-9 col-xs-12">
<router-outlet></router-outlet>
</div> 
</div> 
</div> 
</div> 
</div> 

<companylocation-footer></companylocation-footer>
</div>
