<div class="container-fluid shipments-list-page">

    <div class="d-flex align-items-center justify-content-between mt-3">
        <h3 class="mb-2"> Create New Shipment </h3>    
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                <img style="width:70px" class="img-fluid" src="assets/images/icon-09.png">
                <h4 class="d-flex justify-content-between align-items-center"> <span> Single Shipment </span>  <i class="fa fa-chevron-right"></i> </h4>
                <p style="max-width:300px;"> If you have at least one shipment you want to deliver. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box">
                <img style="width:70px" class="img-fluid" src="assets/images/icon-010.png">
                <h4 class="d-flex justify-content-between align-items-center"> <span> Multiple Shipments </span>  <i class="fa fa-chevron-right"></i> </h4>
                <p style="max-width:300px;"> If you have multiple shipments for multiple locations. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box">
                <img style="width:70px" class="img-fluid" src="assets/images/icon-011.png">
                <a [routerLink]="['/main/CreateBulkShipmentUploadComponent']" >
                    <h4 class="d-flex justify-content-between align-items-center">  <span> Bulk Shipments </span>  <i class="fa fa-chevron-right"></i> </h4>
                </a>
                <p style="max-width:300px;"> If you have multiple shipments for multiple locations. </p>
            </div>
        </div>
    </div>


    <div class="d-flex align-items-center justify-content-between mt-3">
        <h3 class="mb-2"> Saved Templates  </h3>    
    </div>

    <div class="dashboard-search-page">
        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

        
                <div class="mb-2 card-box p-2 dashboard-search-page-row">
                    <div class="row"> 
                        <div class="col-md-3">
                            <label> Template Name </label>
                            <p class="m-0"> OB-10858・Single </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Reciever company  </label>
                            <p class="m-0"> <a href="#"> Canon Company International  </a> </p>                                        
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Dropoff Location   </label>
                            <p class="m-0">  8624, New Industrial City, Riyadh…  </p>
                        </div>  <!-- col-md-2 -->
                        <div class="col-md-3">
                            <label> Package </label>
                            <p> Plastic 500 KG 15 PCS  </p>
                        </div>  <!-- col-md-2 -->

                    </div> <!-- row -->
                </div> <!-- card-box -->

    </div> <!-- dashboard-search-page -->

</div> <!-- container -->