                    <!-- Start Content-->
                    <div class="container-fluid">



                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <h3 class="mb-2"> Users </h3>    
                            <div class="btns">
                                <a class="btn btn-primary" href="#add-reciever-popup" data-animation="fadein" data-plugin="custommodal" data-overlayColor="#36404a"> <i class="fa fa-plus"></i> Add New User </a>
                                <a class="btn btn-custom1" href="#"> Export </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between ">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="" placeholder="Search…">
                            </div> 

                            <h3 class="mb-3">

                                <div class="dropdown for-table notification-list" style="position: relative;">
                                    
                                    <a class="btn btn-state nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> Status: Active <i class="fa fa-chevron-down"></i> </a>

                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                                        <!-- item-->
                                        <a href="#" class="dropdown-item notify-item">
                                            <span> Edit </span>
                                        </a>

                                        <!-- item-->
                                        <a href="#" class="dropdown-item notify-item">
                                            <span> Set as admin </span>
                                        </a>

                                        <!-- item-->
                                        <a href="#" class="red dropdown-item notify-item">
                                            <span> Remove </span>
                                        </a>


                                    </div>
                                </div>



                            </h3>    
                        </div>

                        <div class="card-box " style="border: 1px solid #e4e9f3;"> 


                                <div class="card-box info-box company-info-content">
                                    <div class="recievers d-flex align-items-center justify-content-center flex-direction-column">
                                        <img style="max-width: 300px;" class="img-fluid" src="assets/images/users-empty.png">
                                        <h4> There are no users yet! </h4>
                                        <p> Start adding users to your fleet providers list. </p>
                                        <div class=" btns d-flex align-items-center justify-content-center">
                                            <a style="width: 300px;" class="btn btn-block btn-primary" href="#"> <i class="fas fa-plus"></i> Add New User </a>
                                        </div>
                                    </div>
                                </div> <!-- card-box -->


                        </div> <!-- card-box -->


                        
                    </div> <!-- container -->
