<div class="account-pages vh-100">
    <div class="row vh-100">
        <div class="col-lg-12 d-flex align-items-start justify-content-center left vh-100" style="background-image: url(assets/images/congrats-bg.png); background-position: bottom;">

                  <div class="alert alert-warning alert-dismissible account-not-verified">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <img style="width: 25px; margin-top: -5px;" class="img-fluid" src="assets/images/save.svg"> Your account hasn’t been verified yet. please wait we will contact you soon.
                  </div>

                  <div class="page-content account-not-verified-page">
                        <img class="img-fluid logo" src="assets/images/madar-logo.svg">
                        <img class="img-fluid" src="assets/images/congrats.svg">
                        <h3> Congratulations </h3>
                        <p> Your Account has been Created successfully, please setup your company settings. </p>

                        <div class="form-group mb-2 text-center">
                            <button class="btn btn-primary btn-block"[routerLink]="['/location/addlocation']"> Complete Your Company Setup </button>
                        </div>
                  </div>

        </div> <!-- end col -->

    </div>
    <!-- end row -->
</div>
<!-- end page -->
